/* Задаем параметры цветов темной и светлой темы (Светлая тема) */
html {
  font-family: Roboto, sans-serif;
  --primary-color: #2fed48;
  --secondary-color: #333333;
  --bg-color: #ffffff;
}
/* Задаем параметры цветов темной и светлой темы (Темная тема) */
html[data-theme='dark'] {
  --primary-color: #2fed48;
  --secondary-color: #ffffff;
  --bg-color: #333333;
}
/* Цвет тела страницы */
body {
  background-color: var(--bg-color);
  margin: 0px;
}

.menudiv {
    background-color: gray;
    height: 30px;
}

.menuli {
    display: inline-block;
    padding: 3px 10px 0px 10px;
    color: rgb(255, 233, 199);
    font-size: 20px;
    position: relative;
}

/* Цвет на всей странице*/
* {
  color: var(--secondary-color);
}

}

.theme-switch-wrapper em {
  margin-left: 10px;
}

/* Размеры переключателя темы. Высота ширина. */
.theme-switch {
  display: inline-block;
  height: 19px;
  position: relative;
  width: 33px;
}

.slider {
  background-color: rgb(0, 116, 19);
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  -webkit-transition: .4s;
  transition: .4s;
}
/* размер и расположение переключателя кнопки темы */
.slider:before {
  background-color: rgb(255, 233, 199);
  color: rgb(3, 73, 1);
  content: "☼";
  height: 16.5px;
  width: 16.5px;
  top: 1px;
  bottom: 1px;
  left: 1px;
  right: 1px;
  position: absolute;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: var(--primary-color);
}
/* Ход ползунка кнопки темы */
input:checked + .slider:before {
  -webkit-transform: translateX(26px);
          transform: translateX(15px); 
}
/* края округлитель кнопки темы */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

html.transition,
html.transition * {
  -webkit-transition: all 750ms !important;
  transition: all 750ms !important;
  -webkit-transition-delay: 0 !important;
          transition-delay: 0 !important;
}
