/* Фоновый цвет меню */
.topnav {
    background-color: #161B22;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    display: block;
    color: White;
    text-align: center;
    padding: 18px 10px;
    /* text-transform:uppercase; */
    text-decoration:none;
    font-size: 18px;
}

/* Change the color of links on hover */
.topnav a:hover {
    /*background-color: #21262D;*/
    color: #80868D;
}

/* Add an active class to highlight the current page 
.active {
    background-color: #214B86;
    color: Black;
}*/

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
    display: none;
    color: #F0F6FC;
}

/* Если ширина экрана меньше 600 пикселей, скрыть все ссылки, 
кроме первой («Home»). Показать ссылку, которая должна открывать 
и закрывать topnav (.icon) */
@media screen and (max-width: 600px) {
  .topnav a {display: none;}
  .topnav a.icon {
    float: left;
    display: block;
    color: #F0F6FC
  }
}
/* Класс «responsive» добавляется в topnav с помощью JavaScript, 
когда пользователь нажимает на значок. Этот класс делает topnav 
хорошо выглядеть на маленьких экранах (отображать ссылки вертикально, 
а не горизонтально) */
@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
    color: white;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
    color: white;
  }
}

/* Цвет фона страницы и поля по краям */
body {
  background-color: #0D1117;
  color: #C9D1D9;
  margin: 10px;
}

section {
width: 100%;
height: 90vh;
background-size: cover;
background-position: center;
background-attachment: fixed;
}

section.one {
background-image: url('https://active-vision.ru/wa-data/public/blog/img/p17-1.jpg');
}
section.two {
background-image: url('https://s-sd.ru/files/imfges-pol/files/imagine.jpg');
}
section.three {
background-image: url('https://s-sd.ru/images/cms/data/misty-woods.jpg');
}
