/* Цвет фона страницы и поля по краям */
body {
  background-color: #0D1117;
  color: #C9D1D9;
  margin: 10px;
}
myBtn {
display: inline-block;
position: fixed;
bottom: 25px;
left: 50px;
z-index: 1000;
}
section {
width: 100%;
height: 90vh;
background-size: cover;
background-position: center;
background-attachment: fixed;
}

section.one {
background-image: url('https://active-vision.ru/wa-data/public/blog/img/p17-1.jpg');
}
section.two {
background-image: url('https://s-sd.ru/files/imfges-pol/files/imagine.jpg');
}
section.three {
background-image: url('https://s-sd.ru/images/cms/data/misty-woods.jpg');
}
