$primari-color: #2f88ed;
$secondary-color: #333333;

html {
    font-family: Roboto, sans-serif;
}

* {
    color: $secondary-color;
}

h1{
    color: $primari-color;
    margin-bottom: 0.25em;
}

h2{
    color: $secondary-color;
    font-size: 1em;
    margin-top: 0;
    margin-bottom: 1em;
}

h3 {
    color: $primari-color;
}

a {
    color: $primari-color;
}

.description {
    margin-top: 1em;
}

.contacts {
    margin-top: 2em;
}

.contact {
    display: flex;

    &__type {
        min-width: 120px;
    }
}

.experience {
    display: flex;
    margin-bottom: 2em;
    &__date {
        min-width: 185px;
        margin-bottom: 1em;
    }
    &__name {
        font-weight: bold;
    }
}